

.home {
    margin-top: 100px;
    width: 100%;
    height: 600px;

}

.home .conteneer {
    width: calc(100% - 320px);
    margin: auto;
    
    background-color: blueviolet;
    background-image: url('image/computer.png');
    background-repeat: no-repeat;
    background-size: cover;display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.home .conteneer h2{
    color: #939a37;
    margin: 10px;
    font-size: 130px;
    font-family: Be Vietnam Pro;
}


